*__pycache__
automake-1.16.tar.xz
automake-1.16/
before_wavGAN.wav
ben.wav
deepspeech_main/
ljspeech_parallel_wavegan.v1/
log.out
parallel_wavgan/
run.sh
slurm-7584456.out
waveGAN/
Get_feature_stats.py
LOGS/
slurm-7631342.out
slurm-7659573.out
wavegan_30-70-20epochs.ckpt
wavegan_30-70-25epochs.ckpt
